/* Body.css */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #333;
  }
  
  .card {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    color: antiquewhite;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #fff;
  }
  
  .card p {
    margin: 0;
    color: #fff;
  }
  